<!DOCTYPE html>
<html>
<head>
  <link href="css/style.css" rel="stylesheet"/>
  <title>Differ</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="javascript/script.js"></script>
</head>
<body>
<% [@left, @right].each_with_index do |collection, j| %>
  <div class="map" id="map<%= j %>">
    <% 0.upto(@max_rows - 1) do |i| %>
      <a href="#<%= "tr-#{j}-#{i}"%>">
        <% if collection[i].nil? %>
          <div class="link untracked"></div>
        <% else %>
          <% if collection[i][:type] == :removed and collection[i][:value].is_a? String %>
            <div class="link removed"></div>
          <% end %>
          <% if collection[i][:type] == :added and collection[i][:value].is_a? String %>
            <div class="link added"></div>
          <% end %>
          <% if (collection[i][:type] == :removed and collection[i][:value].is_a? Array) or (collection[i][:type] == :added and collection[i][:value].is_a? Array) %>
            <div class="link modified"></div>
          <% end %>
          <% if collection[i][:type] == :same %>
            <div class="link"></div>
          <% end %>
        <% end %>
      </a>
    <% end %>
  </div>
<% end %>

<% [@left, @right].each_with_index do |collection, j| %>
  <div class="code" id="c<%= j %>">
    <table cellspacing="0" cellpadding="0">
      <% 0.upto(@max_rows - 1) do |i| %>
        <tr id="tr-<%="#{j}-#{i}"%>">
          <% item = collection[i] %>
          <% if item.nil? %>
            <td>&nbsp;</td>
            <td>
              <pre class="untracked">&nbsp;</pre>
            </td>
          <% elsif item[:value].is_a? String %>
            <td><%= j == 0 ? item[:old_position] : item[:new_position] %></td>
            <td>
              <pre class="<%= item[:type].to_s %>"><%= h(item[:value]) %>&nbsp;</pre>
            </td>
          <% else %>
            <td><%= j == 0 ? item[:old_position] : item[:new_position] %></td>
            <td><pre><% item[:value].each do |v| %><% if v[:type]==:removed and j==0 %><span class="removed"><%= v[:value] %></span><% end %><% if v[:type]==:added and j==1%><b class="added"><%= v[:value] %></b><% end %><% if v[:type]==:same %><%= v[:value] %><% end %><% end %></pre></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
</body>
</html>